node_modules

# Mac
.DS_Store

# VSCode
settings.json

# next
.next
.env
.env.dev
.env.testing
.env.staging
.env.production
out
dist
src/public/robots.txt
src/public/sitemap.xml

# firebase
.firebase
firebase-debug.log

# yarn
yarn-error.log
